@font-face {
  font-family: "Garamond";
  src: url("garamond.woff2") format("woff2"),
    url("garamond.ttf") format("truetype");
}

body {
  color: black;
  font-family: Garamond, serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0;
}

.title {
  text-align: center;
}

.content {
  margin: 1rem auto auto;
  max-width: 640px;
  background: url("background.png"), linear-gradient(20deg, #fef3c6, #f9f8f3);
  background-size: contain;
  padding: 1rem;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 2rem;
}

.monkey {
  border-radius: 0.5rem;
  width: 70%;
  margin: 0.5rem 15%;
}

.airplane {
  margin-left: 200px;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation-duration: 3s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes spin {
  from {
    transform: rotate3d(1, 0, 0, 0);
  }

  to {
    transform: rotate3d(1, 0, 0, 180deg);
  }
}

.side {
  position: absolute;
  width: 100px;
  height: 100px;
}

.top {
  background: rgba(255, 0, 0, 0.5);
  transform: rotateX(90deg) translateZ(50px);
  transform-style: preserve-3d;
}

.top-contents {
  margin: auto;
  width: 0;
  height: 100%;
  transform: translateZ(-50px);
  transform-style: preserve-3d;
}

.top-wing1 {
  position: absolute;
  left: 7.5px;
  width: 40px;
  height: 100px;
  background: linear-gradient(
    to bottom right,
    red 0 50%,
    rgba(0, 0, 0, 0) 50% 100%
  );
  transform: rotateY(10deg) rotateZ(10deg);
}

.top-wing2 {
  position: absolute;
  left: -47.5px;
  width: 40px;
  height: 100px;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0) 0 50%,
    red 50% 100%
  );
  transform: rotateY(-10deg) rotateZ(-10deg);
}

.bottom {
  background: rgba(0, 255, 0, 0.5);
  transform: rotateX(-90deg) translateZ(50px);
  transform-style: preserve-3d;
}

.bottom-wing-1 {
  position: absolute;
  left: 50px;
  width: 25px;
  height: 100px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0) 0 49.75%,
    black 49.75% 50%,
    red 50% 100%
  );
  transform: rotateY(80deg) translateX(42px);
  margin: auto;
}

.bottom-wing-2 {
  position: absolute;
  left: 25px;
  width: 25px;
  height: 100px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0) 0 49.75%,
    black 49.75% 50%,
    red 50% 100%
  );
  transform: rotateY(80deg) translateX(42px);
  margin: auto;
}

.right {
  background: rgba(0, 0, 255, 0.5);
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  background: rgba(255, 255, 0, 0.5);
  transform: rotateY(-90deg) translateZ(50px);
}

.front {
  background: rgba(0, 255, 255, 0.5);
  transform: translateZ(50px);
}

.front-contents {
  width: 2px;
  height: 1px;
  background-color: black;
  margin: 25% auto 0 auto;
}

.back {
  background: rgba(255, 0, 255, 0.5);
  transform: rotateY(180deg) translateZ(50px);
}

.back-contents {
  width: 2px;
  height: 50%;
  background-color: black;
  margin: 25% auto 0 auto;
}
